<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <nav class="row flex items-center justify-center">
        <div class="col-3 bg-red-600 w-1/4 text-center text-white h-16 rounded m-1">
          Process
        </div>
        <div class="col-3 bg-green-600 w-1/4 text-center text-white h-16 rounded m-1">
          Valid
        </div>
        <div class="col-3 bg-yellow-400 w-1/4 text-center h-16 rounded m-1">Pengerjaan</div>
        <div class="col-3 bg-blue-600 w-1/4 text-center text-white h-16 rounded m-1">
          Selesai
        </div>
      </nav>
      <div class="w-full bg-yellow-300 h-1 m-1"></div>
    </div>

    <div class="bg-blue-500 w-1/4 text-center text-white h-10 rounded pt-2">
        Tambah Tanggapan
    </div>
  </body>
</html>
