footer {
  /* position: static; */
  bottom: 0;

  transition: 0.5s;
}
#check:checked ~ footer {
  margin-left: 60px;
}
.footer {
  background-color: #ffffff;
  box-sizing: border-box;
  /* width: 100%; */
  font: bold 16px sans-serit;
  padding: 50px 50px 60px 50px;
  /* margin-top: 80px; */
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left {
  width: 30%;
}

.footer h3 {
  color: #000000;
  margin: 0;
  padding-bottom: 20px;
  font-family: "time new roman", "Times New Roman", Times, serif;
}

.footer .footer-copyright {
  color: #8f9296;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  background-color: #5777ba;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #8a8c95;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #8a8c95;
  text-decoration: none;
}

.footer .footer-right {
  width: 30%;
}

.footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: opx;
}

.footer .footer-about span {
  display: block;
  color: #8a8c95;
  font-size: 18px;
  font-weight: 20px;
}

.footer .footer-media {
  margin-top: 25px;
}

.footer .footer-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}

footer .footer-media a:hover {
  background-color: #67aabd;
}

.fa-caret-down {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .footer-left,
  .footer-center,
  .footer-right {
    margin: 20px 10px;
  }

  .footer-center {
    flex-direction: column;
  }

  .footer-right {
    text-align: center;
    border: 1px solid rgb(216, 55, 55);
  }
  .footer-right .footer-about{
    width: 100%;
    /* height: 100%; */
  }
  .footer-right .footer-media {
    display: flex;
    /* padding: 30px; */
    border: 1px solid rgb(216, 55, 55);
  }
  .footer-right .footer-media a {
    margin-right: 30px;
    border: 1px solid rgb(216, 55, 55);
  }
}
