body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  background: #22242a;
  padding: 20px;
  width: 100%;
  height: 30px;
}

/* 
center{
  background: #fff;
} */
.left_area h3 {
  color: #fff;
  margin: 0;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 90px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #0b87a6;
}

.sidebar {
  background: #2f323a;
  margin-top: 54px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 270px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile_image {
  width: 100%;
  /* height: 100%; */
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h3 {
  color: #19b3d3;
  margin-top: 0;
  margin-bottom: 20px;
  /* font-size: 12px; */
}

.sidebar a {
  color: #ffffff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #19b3d3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 10px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

#check:checked ~ .sidebar {
  left: -210px;
  font-size: 0;
  /* width: 0; */
}

#check:checked ~ .sidebar img {
  width: 0;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 190px;
  width: 80px;
}

.content {
  /* position: relative; */
  margin-left: 250px;
  background: rgb(63, 139, 173);
  background: linear-gradient(
    90deg,
    rgba(63, 139, 173, 1) 0%,
    rgba(0, 136, 237, 1) 45%,
    rgba(171, 86, 190, 1) 100%
  );
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check {
  display: none;
}

footer {
  position: static;
  bottom: 0;
  margin-left: 268px;
  transition: 0.5s;
}
#check:checked ~ footer {
  margin-left: 60px;
}
.footer {
  background-color: #101112;
  box-sizing: border-box;
  /* width: 100%; */
  font: bold 16px sans-serit;
  padding: 50px 50px 60px 50px;
  /* margin-top: 80px; */

}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left{
  width: 30%;
}

.footer h3{
  color:#f5f5f5;
  margin: 0;
  padding-bottom: 20px;
  font-family: 'time new roman','Times New Roman', Times, serif;
}

.footer .footer-copyright{
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footer .footer-center{
  width: 35%;  
}

.footer .footer-center i{
  background-color: #33383b;
  color: #fff;
  font-size: 25px;
  width:38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;

}

.footer .footer-center p{
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a{
  color: #00f104;
  text-decoration: none;
}

.footer .footer-right{
  width: 30%;
}

.footer .footer-about{
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: opx;
}

.footer .footer-about span{
  display: block;
  color: #fff;
  font-size:18px;
  font-weight: 20px;

}

.footer .footer-media{
  margin-top: 25px;
}

.footer .footer-media a{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}

footer .footer-media a:hover{
  background-color: #67aabd
}