<!DOCTYPE html>
<html
  lang="en"
  th:fragment="layoutPengaduanKon (title, content, menu)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title th:replace="${title}">Aduan Panda</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
        .navbar-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            margin-left: 990px;
        }
        @media screen and (max-width: 1200px){
            .navbar-nav{
                margin-left: 0px;
                text-align: center;
             
            }
        }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light py-3">
      <a href="#" class="navbar-brand">
        <img src="/img/logo3coy.png" alt="logo" width="180" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"
          th:class="(${menu} == 'menu')? nav-item ac
          >
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#pengaduan">pengaduan</a>
          </li>
          <li class="nav-item"
          th:class="(${menu} == )"
          >
            <a class="nav-link" href="#">Konsultasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
