<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Menu Utama Panda</title>
    <link rel="stylesheet" href="../static/style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <input type="checkbox" id="check" />
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Pusat Aduan Anak Dan Perempuan</h3>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar">
      <center>
        <img src="logo4coy-removebg-preview.png" class="profile_image" alt="" />
        <h3>Pusat Aduan Anak Dan Perempuan</h3>
      </center>
      <a href="#"><i class="fa-solid fa-house-laptop"></i><span>Home</span></a>
      <a href="#"><i class="fa-solid fa-message"></i><span>Chat</span></a>
      <a href="#"
        ><i class="fa-solid fa-envelopes-bulk"></i><span>Pengaduan</span></a
      >
      <a href="#"><i class="fas fa-info-circle"></i><span>Info</span></a>
       <!-- <a href="#"><i class="fa-solid fa-sliders-h"></i><span>Settings</span></a> -->
            <a href="#"><i class="fa-solid fa-map-location"></i><span>Map</span></a> 
    </div>
    <!--sidebar end-->

    <div class="content"></div>
  </body>
</html>

