<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Aduan PANDA</title>
    <style>
        /* Add any additional styles not covered by Tailwind here */
        .navbar {
            background-color: #3490dc; /* Blue background color */
        }

        .navbar-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            margin-left: 990px;
        }

        .border-md {
            border-width: 2px;
        }

        em {
            color: red;
        }
        h1{
            position: relative;
        }
        h1::before{
            content: "";
            width: 100%;
            height: 200px;
            background: url(/img/services-left-dec.png );
            background-repeat: no-repeat;
            background-size: 50%;
            position: absolute;
            top: -155px;
            left: -10px;
            z-index: -1;

        }

        @media screen and (max-width: 1200px){
            .navbar-nav{
                margin-left: 0px;
                text-align: center;
             
            }
           h1::before{
            display: none;
           }
        }
    </style>
</head>

<body class="bg-gray-100">
    <!-- Navbar start -->
    <nav class="navbar flex justify-between items-center p-3 bg-blue-500 text-white">
        <a href="#" class="navbar-brand">
            <img src="/img/logo3coy.png" alt="logo" width="180" />
        </a>
        <div class="navbar-nav flex">
            <a class="nav-link px-4 hover:bg-white hover:text-blue-500" th:href="@{/}">Home</a>
            <a class="nav-link px-4 hover:bg-white hover:text-blue-500" th:href="@{/panda/pengaduan}">pengaduan</a>
            <a class="nav-link px-4 hover:bg-white hover:text-blue-500" th:href="@{/panda/konsultasi}">Konsultasi</a>
            <a class="nav-link px-4 hover:bg-white hover:text-blue-500" th:href="@{/panda/login}">Logout</a>
        </div>
    </nav>
    <!-- Navbar end -->

    <!-- Form start -->
    <div class="container mt-8">
        <div class="flex flex-col md:flex-row items-center justify-center">
            <div class="md:w-1/2 mb-4 md:mb-0">
                <img src="/img/Premium_Vector___Working_woman_presentation-removebg-preview.png" alt="form"
                    class="mb-3 mx-auto md:mx-0 md:mr-8" />
                <h1 class="text-2xl md:text-4xl font-bold mb-2 md:mb-4 text-center md:text-left md:pl-2">Isi form
                    pengaduan</h1>
                <p class="text-sm md:text-base font-italic text-muted text-center md:text-left md:pl-2">
                    Mohon isi data di samping dengan <em>lengkap dan valid</em> untuk mempermudah tim kami dalam memproses
                    pengaduan anda
                </p>
            </div>

            <!-- Registration Form -->
            <div class="md:w-1/2">
                <form id="pengaduanForm" th:action="@{/panda/pengaduan}" th:object="${pengaduan}" method="post"
                    class="bg-white shadow-md rounded-md p-6">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- nama-->
                        <div class="mb-4">
                            <label for="nama" class="block text-sm font-medium text-gray-700">Nama lengkap</label>
                            <input id="nama" type="text" th:field="*{nama}"
                                class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                                placeholder="Nama lengkap" required />
                        </div>

                        <!-- alamat -->
                        <div class="mb-4">
                            <label for="alamat" class="block text-sm font-medium text-gray-700">Alamat</label>
                            <input id="alamat" type="text" th:field="*{alamat}"
                                class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                                placeholder="Alamat" required />
                        </div>

                        <!-- pekerjaan -->
                        <div class="mb-4">
                            <label for="pekerjaan" class="block text-sm font-medium text-gray-700">Pekerjaan</label>
                            <input id="pekerjaan" type="text" th:field="*{pekerjaan}"
                                class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                                placeholder="Pekerjaan" required />
                        </div>

                        <!-- Pendidikan -->
                        <div class="mb-4">
                            <label for="Pendidikan" class="block text-sm font-medium text-gray-700">Pendidikan</label>
                            <input id="Pendidikan" type="text" th:field="*{pendidikan}"
                                class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                                placeholder="Pendidikan" required />
                        </div>

                        <!-- TTL -->
                        <div class="mb-4">
                            <label for="TTL" class="block text-sm font-medium text-gray-700">Tanggal Lahir</label>
                            <input id="TTL" type="date" th:field="*{TTL}"
                                class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                                required />
                        </div>

                        <!-- hal di harapkn -->
                        <div class="input-group col-lg-12 mb-4 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa-regular fa-message"></i></span>
                            </div>
                            <input id="pesan" type="text" name="password" rows="3" placeholder="Hal yang anda harapkan"
                                class="form-control bg-white border-left-0 border-md  " required >
                        </div>


                        <!-- <div class="form-group col-lg-12 mb-4">
                      <label for="exampleFormControlTextarea1">Keterangan</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Masukkan Keterangan"></textarea>
                  </div> -->


                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <!-- <a th:href="@{/daftar}" class="btn btn-primary btn-block py-2">
                                <span class="font-weight-bold">Kirim aduan</span>
                            </a> -->
                            <button type="submit" class="btn btn-primary btn-block py-2">Kirim</button>
                        </div>

                        <!-- Submit button -->
                        <div class="form-group col-span-2">
                            <button type="button"
                                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
                                onclick="submitForm()">Kirim</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    

</body>

</html>
